.modal {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms linear;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.modal {
    &__inner-div {
        width: 528px;
        height: 581px;
        left: 536px;
        top: 221px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__inner-div > button {
        left: 490px;
        top: 8px;
        position: relative;
        padding: 0px;
        width: 30px;
        height: 30px;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
    &__inner-div svg:hover {
        color: #2196F3;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon > use:hover {
        fill: #2196F3;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__form {
        flex-direction: column;
        margin: 2px 41px 40px 39px;
    }
    &__form-title {
        margin: 2px 0px 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    &__request-form {
        display: flex;
        flex-direction: column;
    }
    &__form-label {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 10px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__icon-form {
        fill: #212121;
        padding-top: 30px;
        padding-left: 12px;
        position: absolute;
    }
    &__form-label {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 10px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__form-label > input {
        padding-left: 40px;
    }
    &__form-label > input {
        margin: 4px 0px 0px;
        font-weight: 400;
        box-sizing: border-box;
        width: 448px;
        height: 40px;
        left: 576px;
        top: 382px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
    }
    &__form-label > input:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        fill: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__request-form input[type="email"]:focus+.modal__icon-form {
        fill: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__request-form input[type="tel"]:focus+.modal__icon-form {
        fill: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__request-form input[type="name"]:focus+.modal__icon-form {
        fill: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__form-label > textarea:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__form-label > textarea:focus-visible {
        outline: none;
    }
    &__form-label > textarea {
        box-sizing: border-box;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin: 4px 0px 0px;
        padding: 12px 16px;
    }
    &__checkbox {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
        margin: 10px 11px 30px 13px;
        display: flex;
    }
    &__replace-checkbox {
        width: 12px;
        height: 12px;
        border: 2px solid black;
        border-radius: 2px;
        display: inline-block;
        margin-right: 7px;
        margin-bottom: 5px;
    }
    &__checkbox svg {
        width: 12px;
        height: 12px;
        fill: white;
        padding-bottom: 4px;
    }
    &__request-form input[type="checkbox"]:checked+.modal__replace-checkbox {
        background: #2196F3;
        border-color: #2196F3;
    }
    &__request-form input[type="checkbox"] {
        display: none;
    }
    &__terms-and-cond {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #2196F3;
        padding-left: 4px;
        text-decoration: underline;
    }
    &__send-button-form {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        justify-content: center;
        margin: 0px 124px 0px 124px;
        border: none;
    }
    &__send-button-form:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__send-button-form:focus {
        outline: none;
    }
}