// .grid-items {
//     // flex-basis: calc((100% - 2 * 30px) / 2);
//     // flex-basis: 100%;
// }

.grid-items {
    &__qualities-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        padding-bottom: 4px;
    }
    &__qualities-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
        padding-bottom: 20px;
    }
}

.grid-items__qualities a {
    background-color: #F5F4FA;
    align-items: center;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .grid-items {
        flex-basis: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .grid-items {
        flex-basis: calc((100% - 3 * 30px) / 4);
    }
}