html {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
}

li {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.section {
    padding-top: 94px;
}

* {
    margin-block-start: auto;
    margin-block-end: auto;
    padding-inline-start: 0px;
}
.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.grid {
    display: flex;
    gap: 30px
}